<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Projeto Ionic </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Projeto Ionic</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="card">
    <img class="profile-img" src="../../assets/foto.jpeg" alt="Foto pessoal" />
    <div class="nome">Lucas Maia da Silva Ferreira</div>
    <div class="turma">Turma: ADS0301M</div>
  </div>
</ion-content>
