.card {
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 10px #0c0c0c1a;
  padding: 30px 10px;
  text-align: center;
  margin: 20px auto;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.profile-img {
  width: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 20px;
}

.nome {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.turma {
  font-size: 18px;
  color: #666;
}

@keyframes fadeIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY();
    opacity: 1;
  }
}
